* {
      box-sizing: border-box;
      font-family: Arial, sans-serif;
}

body {
      margin: 0;
      background: #111;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

.container {
      perspective: 1000px;
}

.carta {
      width: 280px;
      height: 180px;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 1s;
      cursor: pointer;
}

.carta.abierta {
      transform: rotateY(180deg);
}

.frente,
.dentro {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #d4af37;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      backface-visibility: hidden;
      padding: 10px;
}

.dentro {
      background: #fff;
      transform: rotateY(180deg);
}